/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.purple-filter {
  -webkit-box-shadow: inset 0px -112px 137px 15px rgba(126, 70, 185, 0.5);
  -moz-box-shadow: inset 0px -112px 137px 15px rgba(126, 70, 185, 0.5);
  box-shadow: inset 0px -112px 137px 15px rgba(126, 70, 185, 0.5);
}

.component-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
