// @import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

$purple: rgb(126, 70, 185);

body {
  background-color: $purple;
  font-family: "Nunito Sans", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  color: $purple;
}

h3 {
  margin-bottom: 1rem;
}

.content-image {
  background-color: rgba(255, 255, 255, 0.5);
  // padding-top: 30vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  overflow: hidden;
}

.content-text {
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

content-border-image {
  margin-top: 200px;
}

.text-box {
  white-space: pre-line;
  text-align: left;
}
.header-style {
  z-index: 1;
  width: 100%;
  background-color: $purple;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.purple-filter {
  box-shadow: inset 0 0 3em 0.5 hsl(268, 25%, 15%);
  text-shadow: 0 0 0.5em #2d2d2d;
}

.component-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.profile-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-style {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: $purple;
}

.text-feedback {
  color: rgba(255, 31, 31, 0.6);
  font-size: 12px;
}

.purple {
  color: white !important;
  background-color: $purple !important;
  border-color: $purple !important ;
}
.purple-icon {
  color: $purple !important;
  background-color: white !important;
}

.form-control {
  padding: 1.75em 1em;
  border: 2px solid hsl(210, 10%, 92%);
  &:focus {
    border-color: $purple;
    box-shadow: 0 0 0 0.2rem rgba($purple, 0.25);
  }
}

a {
  color: $purple;
  // text-decoration: underline;
  &:hover,
  &:active {
    color: lighten($purple, 10%);
  }
}

form {
  margin-bottom: 0.5em;
}

.content-text {
  min-height: calc(100vh - 100px);
}

.recipe-image {
  height: 30vh;
  background-size: cover;
  background-position: center center;
}

.recipe-image + div {
  margin-top: -50px;
}

.scrolling-cards {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  a {
    scroll-snap-align: center;
    flex: 1 100%;
    width: 100%;
    // height: 10em;
    margin-right: 1em;
    .card {
      min-height: 16em;
      width: 16em;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 0 0 1.5em -0.5em hsla(0, 0%, 50%, 0.5);
    }
  }
}

.box-shadow {
  box-shadow: 0 0 1.5em -0.5em hsla(0, 0%, 50%, 0.5);
}
